name: Deploy to GitHub Pages

on:
  push:
    tags:
      - 'release-*'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Run tests with coverage
        run: npm run test:cov
      - name: Deploy
        env:
          MY_EMAIL: kothaaakanksha.99@gmail.com
          MY_NAME: aakankshakotha
        run: |
          git config --global user.email $MY_EMAIL
          git config --global user.name $MY_NAME
          git remote set-url origin https://x-access-token:${{ secrets.ACTIONS_DEPLOY_TOKEN }}@github.com/goal-based-financial-planner/goal-based-financial-planner.git
          npm run deploy
